-- heartbeat conf

local M = {}

-- time period to spend tokens, valid arguments: month, week, day, hour
M.cycle_period = "week"

-- crypto used to estimate, valid arguments: ltc
M.crypto = "ltc"

-- how much LTC to spend in the cycle
M.spending_per_cycle = 0.01

-- spending cost base on crypto
M.issue_cost = 0.001
M.transfer_cost = 0.002

-- network, valid arguments: bitmark, testnet
M.chain = "testnet"

-- sdk api token
M.sdk_api_token = ""

-- account recovery phrases
-- M.recovery_phrases = {
-- }

return M
