-- heartbeat conf

local M = {}

-- time period to spend tokens, valid arguments: month, week, day, hour
M.cycle_period = "week"

-- crypto used to estimate, valid arguments: ltc
M.crypto = "ltc"

-- how much LTC to spend in the cycle
-- to have issuance / 10 minutes, cost a week is 1.008 LTC
-- to have transfer / 10 minutes, cost a week is 2.016 LTC
M.spending_per_cycle = 0.01

-- spending cost base on crypto
M.issue_cost = 0.001
M.transfer_cost = 0.002

-- network, valid arguments: livenet, testnet
M.chain = "testnet"

-- sdk api token
M.sdk_api_token = ""

-- account recovery phrases, support multiple accounts
-- all recovery phrases each combined with comma in a double quote, last one without comman
-- M.recovery_phrases = {
-- "first,second,third,forth,fifth,sixth,seventh,eighth,ninenth,tenth,eleventh,twelveth",
-- "aa,bb,cc,dd,ee,ff,gg,hh,ii,jj,kk,ll"
-- }

return M
