-- heartbeat conf

local M = {}

-- time period to spend tokens, valid arguments: month, week, day, hour
-- default "week"
-- M.cycle_period = "week"

-- crypto used to estimate, valid arguments: ltc
-- default "ltc"
-- M.crypto = "ltc"

-- how much LTC to spend in the cycle
-- to have issuance / 10 minutes, cost a week is 1.008 LTC
-- to have transfer / 10 minutes, cost a week is 2.016 LTC
-- default 0.01
M.spending_per_cycle = 0.01

-- minimum time period to spend tokens, valid arguments: month, week, day, hour, min
-- default "hour"
-- M.min_spending_period = "hour"

-- spending cost base on crypto
M.issue_cost = 0.001
M.transfer_cost = 0.002

-- network, valid arguments: livenet, testnet
M.chain = "testnet"

-- sdk api token
M.sdk_api_token = ""

-- account recovery phrases, support multiple accounts
-- all recovery phrases each combined with comma in a double quote, last one without comman
-- M.recovery_phrases = {
-- "first,second,third,forth,fifth,sixth,seventh,eighth,ninenth,tenth,eleventh,twelveth",
-- "aa,bb,cc,dd,ee,ff,gg,hh,ii,jj,kk,ll"
-- }

M.logging = {
    size = 1048576,
    count = 100,
    directory = "log",
    file = "heartbeat.log",

    console = false,

    levels = {
        DEFAULT = "debug",
    }
}

M.node = {
  ip = "1.2.3.4",
  broadcast_port = "2135",
  command_port = "2136",
  public_key = "public_key",
  chain = "testing",
  name = "node",
}

M.keys = {
  public = "PUBLIC:public_key",
  private = "PRIVATE:private_key",
}

return M
